# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment-specific files
*.env

# Ignore generated directories and files
/.venv/
/venv/
/.mypy_cache/
/.pytest_cache/
/.coverage
/.vscode/

# Ignore logs
*.log
log/

# Ignore system-specific files
.DS_Store
Thumbs.db
